In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model


# Importing the dataset
df = pd.read_csv('homeprices.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [10]:
%matplotlib inline
plt.scatter(df.area, df.price)

NameError: name 'plt' is not defined